[submodule "tamu_personal_website"]
	path = tamu_personal_website
	url = git@github.com:colemcanelly/tamu_personal_website.git
[submodule "labs/lab2_git"]
	path = labs/lab2_git
	url = git@github.com:csce-331-ritchey-2023a/lab-exercise-intro-to-git-colemcanelly.git
